---

---

<div id="container">
	<main>
		<section id="content">
			<svg
				width="100"
				height="100"
				viewBox="0 0 100 100"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<rect
					width="99.0272"
					height="99.0272"
					rx="14.8541"
					fill="#F5F5F5"></rect>
				<g clip-path="url(#clip0_415_5)">
					<path
						d="M65.5024 60.2891L46.1096 40.7932C44.4935 41.1714 42.9892 41.7387 41.5966 42.4952C40.204 43.2517 38.9576 44.1972 37.8573 45.3319L33.5249 40.8963C34.6252 39.796 35.8114 38.8333 37.0837 38.008C38.3559 37.1828 39.7141 36.4607 41.1582 35.8418L36.5163 31.1999C35.1066 31.922 33.7913 32.7214 32.5707 33.5982C31.3501 34.475 30.1896 35.4636 29.0893 36.5639L24.7568 32.1283C25.8571 31.028 27.0004 30.0394 28.1867 29.1626C29.3729 28.2858 30.6366 27.452 31.9776 26.6612L27.6451 22.3287L30.5334 19.4404L68.4938 57.4009L65.5024 60.2891ZM49.5136 56.9882C48.0695 56.9882 46.8488 56.4811 45.8517 55.4667C44.8545 54.4524 44.356 53.2403 44.356 51.8306C44.356 50.3864 44.8545 49.1658 45.8517 48.1686C46.8488 47.1715 48.0695 46.6729 49.5136 46.6729C50.9578 46.6729 52.1784 47.1715 53.1756 48.1686C54.1727 49.1658 54.6713 50.3864 54.6713 51.8306C54.6713 53.2403 54.1727 54.4524 53.1756 55.4667C52.1784 56.4811 50.9578 56.9882 49.5136 56.9882ZM61.6857 44.713L60.19 43.2173L58.6943 41.7215L51.2672 34.2945C54.0524 34.5696 56.657 35.2745 59.0811 36.4092C61.5052 37.5438 63.6456 39.0396 65.5024 40.8963L61.6857 44.713ZM69.938 36.5639C67.2904 33.9163 64.2216 31.8446 60.7316 30.3489C57.2415 28.8532 53.5022 28.1053 49.5136 28.1053C48.7916 28.1053 48.0953 28.1311 47.4248 28.1827C46.7543 28.2343 46.0752 28.3116 45.3875 28.4148L40.1267 23.1539C41.6396 22.7413 43.1783 22.4319 44.7428 22.2256C46.3073 22.0193 47.8976 21.9161 49.5136 21.9161C54.3962 21.9161 58.9522 22.8273 63.1814 24.6497C67.4107 26.472 71.1071 28.9649 74.2704 32.1283L69.938 36.5639Z"
						fill="#414651"></path>
				</g>
				<path
					d="M22.2747 70.0818C26.566 70.0818 29.2557 73.0132 29.2557 77.7176C29.2557 82.432 26.5761 85.3634 22.2747 85.3634C17.9632 85.3634 15.2736 82.432 15.2736 77.7176C15.2736 73.0031 18.0035 70.0818 22.2747 70.0818ZM22.2747 72.7513C19.9175 72.7513 18.3863 74.6753 18.3863 77.7176C18.3863 80.7497 19.8873 82.6939 22.2747 82.6939C24.642 82.6939 26.153 80.7497 26.153 77.7176C26.153 74.6753 24.642 72.7513 22.2747 72.7513Z"
					fill="#414651"></path>
				<path
					d="M32.7008 84.9907V76.2972H30.9077V73.9903H32.7008V72.8621C32.7008 70.656 33.8291 69.5378 36.5086 69.5378C37.103 69.5378 37.5966 69.5781 38.0197 69.6486V71.7238C37.8283 71.7036 37.5261 71.6734 37.1433 71.6734C35.9949 71.6734 35.5718 72.1267 35.5718 73.0736V73.9903H37.929V76.2972H35.6322V84.9907H32.7008Z"
					fill="#414651"></path>
				<path
					d="M41.2231 84.9907V76.2972H39.43V73.9903H41.2231V72.8621C41.2231 70.656 42.3513 69.5378 45.0309 69.5378C45.6252 69.5378 46.1188 69.5781 46.5419 69.6486V71.7238C46.3505 71.7036 46.0483 71.6734 45.6655 71.6734C44.5171 71.6734 44.094 72.1267 44.094 73.0736V73.9903H46.4512V76.2972H44.1545V84.9907H41.2231Z"
					fill="#414651"></path>
				<path
					d="M48.8891 84.9907V69.6386H51.8205V84.9907H48.8891Z"
					fill="#414651"></path>
				<path
					d="M54.8929 84.9907V73.8795H57.8243V84.9907H54.8929ZM56.3636 72.3282C55.3059 72.3282 54.631 71.7137 54.631 70.8474C54.631 69.971 55.3059 69.3666 56.3636 69.3666C57.4113 69.3666 58.0963 69.971 58.0963 70.8474C58.0963 71.7137 57.4113 72.3282 56.3636 72.3282Z"
					fill="#414651"></path>
				<path
					d="M60.796 84.9907V73.8795H63.6368V75.6626H63.8181C64.3318 74.4134 65.4601 73.6378 67.1021 73.6378C69.5701 73.6378 70.8998 75.1488 70.8998 77.8082V84.9907H67.9684V78.5033C67.9684 76.9721 67.3136 76.1662 65.9235 76.1662C64.5635 76.1662 63.7274 77.1232 63.7274 78.5839V84.9907H60.796Z"
					fill="#414651"></path>
				<path
					d="M78.5557 75.8842C77.1958 75.8842 76.2388 76.8311 76.1381 78.2716H80.8726C80.8122 76.8009 79.9257 75.8842 78.5557 75.8842ZM80.9331 81.8276H83.663C83.2198 83.9229 81.3058 85.2324 78.5859 85.2324C75.2012 85.2324 73.2066 83.0968 73.2066 79.4905C73.2066 75.8741 75.2415 73.6378 78.5456 73.6378C81.8195 73.6378 83.7537 75.723 83.7537 79.2487V80.1453H76.128V80.2964C76.1683 81.9485 77.1353 82.976 78.6665 82.976C79.825 82.976 80.6208 82.5629 80.9331 81.8276Z"
					fill="#414651"></path>
				<defs>
					<clipPath id="clip0_415_5">
						<rect
							width="49.5136"
							height="49.5136"
							fill="white"
							transform="translate(24.7568 13.6638)"></rect>
					</clipPath>
				</defs>
			</svg>
			<h1>No Internet.</h1>
			<p>
				It looks like you're not connected to the internet. Please check
				your connection and try again.
			</p>
			<code>ERR_INTERNET_DISCONNECTED</code>
			<button onclick="window.location.reload()">RETRY</button>
		</section>
	</main>
</div>

<style>
	#content {
		font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
			"Nimbus Sans", Arial, sans-serif;
		height: 100%;
	}

	main section {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 480px;
		margin: 10svh auto 0 auto;
		row-gap: 1rem;
	}

	svg {
		width: 64px;
		height: 64px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
			Consolas, "DejaVu Sans Mono", monospace;
		font-weight: normal;
		font-size: 13px;
		color: #d92d20;
	}

	button {
		all: unset;
		display: block;
		color: #2e90fa;
		cursor: pointer;
		margin-top: 1rem;
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}
	}
</style>
